// COLORS
$color-black: #000;
$color-white: #fff;

$gallery-50: #f8f8f8;
$gallery-100: #eee;
$gallery-200: #dcdcdc;
$gallery-300: #bdbdbd;
$gallery-400: #989898;
$gallery-500: #7c7c7c;
$gallery-600: #656565;
$gallery-700: #525252;
$gallery-800: #464646;
$gallery-900: #3d3d3d;
$gallery-950: #292929;

$cornflower-blue-50: #f0f6fe;
$cornflower-blue-100: #ddeafc;
$cornflower-blue-200: #c2dbfb;
$cornflower-blue-300: #98c5f8;
$cornflower-blue-400: #67a7f3;
$cornflower-blue-500: #4f8cee;
$cornflower-blue-600: #2f68e1;
$cornflower-blue-700: #2653cf;
$cornflower-blue-800: #2545a8;
$cornflower-blue-900: #233d85;
$cornflower-blue-950: #1a2751;

$indian-tan-50: #fff5eb;
$indian-tan-100: #ffe9d0;
$indian-tan-200: #ffcda0;
$indian-tan-300: #ffa864;
$indian-tan-400: #ff7726;
$indian-tan-500: #ff5000;
$indian-tan-600: #ff3200;
$indian-tan-700: #d71f00;
$indian-tan-800: #aa1802;
$indian-tan-900: #881806;
$indian-tan-950: #500800;

$tulip-tree-50: #fdf9ed;
$tulip-tree-100: #faeccb;
$tulip-tree-200: #f4d793;
$tulip-tree-300: #eebd5b;
$tulip-tree-400: #ebad44;
$tulip-tree-500: #e2871e;
$tulip-tree-600: #c86617;
$tulip-tree-700: #a64817;
$tulip-tree-800: #873919;
$tulip-tree-900: #6f2f18;
$tulip-tree-950: #401708;

// FONTS
$font-name: 'Montserrat', Arial, sans-serif;

// TRANSITIONS
$transition-duration: 0.35s;
$transition-timing-function: ease;
$transition: $transition-duration $transition-timing-function;

// SETTINGS
$desktop-xxl: 2560;
$desktop-xl: 1920;
$desktop-lg: 1680;
$desktop-md: 1440;
$desktop-sm: 1366;
$desktop-xs: 1280;
$desktop: 1024;
$tablet: 1024;
