.header {
	position: fixed;
	left: vc(10);
	top: vc(10);
	border: 1px solid $gallery-100;
	border-radius: vc(16);
	padding: vc(15);
	width: calc(100% - #{vc(20)});

	.row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__menu {
		display: flex;
		gap: vc(15);

		li {
			position: relative;
			display: flex;
			align-items: center;
			gap: vc(5);

			a {
				display: block;
				overflow: hidden;
				border-radius: vc(8);
				padding: vc(6) vc(12);
				width: 100%;
				transition: background-color $transition;
			}

			&:has(.header__menu-dropdown) {
				&::after {
					content: '';
					position: relative;
					display: flex;
					width: vc(10);
					height: vc(10);
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M239 401c9.4 9.4 24.6 9.4 33.9 0L465 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-175 175L81 175c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9L239 401z'/%3E%3C/svg%3E%0A");
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
				}
			}

			&:hover {
				> a {
					background-color: $gallery-100;
				}
			}
		}

		&-dropdown {
			position: absolute;
			left: 0;
			top: 100%;
			display: flex;
			flex-direction: column;
			border-radius: vc(16);
			padding: vc(10);
			min-width: vc(220);
			box-shadow: $box-shadow;
			background-color: $color-white;
			opacity: 0;
			visibility: hidden;
			transition: opacity $transition, visibility $transition;
			gap: vc(10);

			.header__menu-dropdown {
				left: 100%;
				top: 0;
			}

			li {
				&:has(.header__menu-dropdown) {
					&::after {
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath d='M305 239c9.4 9.4 9.4 24.6 0 33.9L113 465c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l175-175L79 81c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L305 239z'/%3E%3C/svg%3E");
					}
				}

				&:hover {
					> a {
						background-color: $tulip-tree-200;
					}
				}
			}

			li:hover > & {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
