.header {
	position: fixed;
	left: 0;
	top: vc(10);
	width: 100%;
	color: $color-black;

	.row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid $gallery-100;
		border-radius: vc(16);
		padding: vc(15);
		background-color: $color-white;
	}

	&__menu {
		display: flex;
		gap: vc(15);

		li {
			position: relative;

			a {
				display: flex;
				align-items: center;
				overflow: hidden;
				border-radius: vc(8);
				padding: vc(6) vc(12);
				width: 100%;
				transition: background-color $transition;
				gap: vc(15);
			}

			&:has(.header__menu-dropdown) {
				> a::after {
					content: '';
					position: relative;
					display: flex;
					mask-image: url("assets/svg-sprites/chevron-down.svg");
					mask-position: center;
					mask-repeat: no-repeat;
					mask-size: contain;
					width: vc(10);
					height: vc(10);
					background-color: $color-black;
				}
			}

			&:hover {
				> a {
					background-color: $tulip-tree-200;
				}
			}
		}

		&-dropdown {
			position: absolute;
			left: 0;
			top: 100%;
			display: flex;
			flex-direction: column;
			border-radius: vc(16);
			padding: vc(10);
			min-width: vc(220);
			box-shadow: $box-shadow;
			color: $color-black;
			background-color: $color-white;
			opacity: 0;
			visibility: hidden;
			transition: opacity $transition, visibility $transition;
			gap: vc(10);

			.header__menu-dropdown {
				left: 100%;
				top: 0;
			}

			li {
				&:has(.header__menu-dropdown) {
					> a::after {
						mask-image: url("assets/svg-sprites/chevron-right.svg");
					}
				}

				&:hover {
					> a {
						background-color: $tulip-tree-200;
					}
				}
			}

			li:hover > & {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__end {
		display: flex;
		gap: vc(15);
	}

	&__search {
		width: vc(20);
		height: vc(20);

		svg {
			fill: $color-black;
		}
	}
}
