- const header = require('data.js').default;
header.header
	.container
		.row
			.header__logo
				p Logo
			ul.header__menu
				each item in header
					li
						a(href="#")!= item.link
						if item.dropdown
							ul.header__menu-dropdown
								each drop in item.dropdown
									li
										a(href="#")!= drop.link
										if drop.dropdown
											ul.header__menu-dropdown
												each i in drop.dropdown
													li
														a(href="#")!= i.link
			.header__end
				a(href="#") +79922344332
				.header__search
					+svg('magnifying-glass')
